DB_HOST=db
DB_PORT=5432
DB_NAME=git_master
DB_USER=postgres
DB_PASSWORD=

DATABASE_URL=

GITHUB_CLIENT_ID=Ov23lidejNxcAjd563X1
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=https://harvest-skies-repeal.ngrok-free.dev/auth/github/callback
FRONTEND_URL=http://localhost:5173
GITHUB_WEBHOOK_SECRET=

SECRET_KEY=gitmaster_2026_super_segura_jwt_clave_larga_abc123_xyz789
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

VITE_API_URL=http://localhost:8000

NGROK_AUTHTOKEN=